{% extends "base.html" %}

{% block content %}

    <style>
    .my_secret{
        border: 2px dashed red;
    }
    </style>

    <div class="jumbotron text-center">

        <h1>Welcome To Data4Help</h1>
        <p class="lead">
            Data4Help is a software-based service allowing third parties to monitor the location and health status of individuals. <br />
            Here you can find the endpoints to communicate with for acquiring the information of your interest.
        </p>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Endpoint</th>
              <th scope="col">Method</th>
              <th scope="col">Port</th>
              <th scope="col">Individual/Group</th>
              <th scope="col">Response</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>/api/thirdparties/subscribe?fiscalCode=<span class="my_secret">USER_FC</span>&username=<span class="my_secret">YOUR_USERNAME</span>&secret=<span class="my_secret">YOUR_SECRET</span></td>
              <td>GET</td>
              <td>5000</td>
              <td>-----------</td>
              <td>JSON</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>/api/thirdparties/get_location_by_fc?fiscalCode=<span class="my_secret">USER_FC</span>&username=<span class="my_secret">YOUR_USERNAME</span>&secret=<span class="my_secret">YOUR_SECRET</span></td>
              <td>GET</td>
              <td>5000</td>
              <td>Individual</td>
              <td>JSON</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>/api/thirdparties/get_heart_rate_by_fc?fiscalCode=<span class="my_secret">USER_FC</span>&username=<span class="my_secret">YOUR_USERNAME</span>&secret=<span class="my_secret">YOUR_SECRET</span></td>
              <td>GET</td>
              <td>5000</td>
              <td>Individual</td>
              <td>JSON</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>/api/thirdparties/groups/heart_rate_by_birth_place?birthPlace=<span class="my_secret">USER_BIRTH_PLACE</span>&username=<span class="my_secret">YOUR_USERNAME</span>&secret=<span class="my_secret">YOUR_SECRET</span></td>
              <td>GET</td>
              <td>5000</td>
              <td>Group</td>
              <td>JSON</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>/api/thirdparties/groups/location_by_birth_place?birthPlace=<span class="my_secret">USER_BIRTH_PLACE</span>&username=<span class="my_secret">YOUR_USERNAME</span>&secret=<span class="my_secret">YOUR_SECRET</span></td>
              <td>GET</td>
              <td>5000</td>
              <td>Group</td>
              <td>JSON</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>/api/thirdparties/groups/heart_rate_by_year_of_birth?year=<span class="my_secret">USER_YEAR_OF_BIRTH</span>&username=<span class="my_secret">YOUR_USERNAME</span>&secret=<span class="my_secret">YOUR_SECRET</span></td>
              <td>GET</td>
              <td>5000</td>
              <td>Group</td>
              <td>JSON</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>/api/thirdparties/groups/location_by_year_of_birth?year=<span class="my_secret">USER_YEAR_OF_BIRTH</span>&username=<span class="my_secret">YOUR_USERNAME</span>&secret=<span class="my_secret">YOUR_SECRET</span></td>
              <td>GET</td>
              <td>5000</td>
              <td>Group</td>
              <td>JSON</td>
            </tr>
          </tbody>
        </table>

    </div>

{% endblock %}