{% extends "base.html" %}

{% block content %}
    <style>
    .mysecret{
        border: 2px dashed red;
    }
    </style>
    <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h1>Welcome in Data4Help!</h1>
        </div>
        <div class="col-md-2"></div>
    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-13">
            The main scope of the Data4Help project is to provide a platform where the user can consult his/her health and
            location data and share these data with third-parties so that the latter can increase their business value.
            The application also offers two additional services: AutomatedSOS, a constant vital parameters monitoring
            service, thought for elderly people, to detect anomalies and, in case of emergency, call an ambulance
            directly to the location of the costumer, and Track4Run, a service mainly thought for runners to create and
            join running events and live tracking on a map participants of the runs.
            Both AutomatedSOS and Track4Run exploit the features offered by Data4Help.

        <h4>/api/thirdparties/get_location_by_fc?fiscalCode<span class="fiscal_code">USER_FC</span>&username=<span class="my_username">YOUR_USERNAME</span>&secret=<span class="my_username">YOUR_SECRET</span></h4>
            <div class="row">
                <div class="col-md-12">
                    <!--<img src="../images/json_ex_1.png">-->
                </div>
            </div>
        <h4>/api/thirdparties/get_heart_rate_by_fc?SECRET=<span class="mysecret"> YOU_SECRET_HERE</span></h4>
            <div class="row">
                <div class="col-md-12">
                    <!--<img src="../images/json_ex_2.png">-->

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>

    </div>
    </div>
{% endblock %}